<div class="content-body">
  <div> <%= image_tag "atrium.png", :class => "bg" %> </div>

  <div class="center-box">
    <li>CAFE FLORA</li>
    <li class = "divider">––––</li>
    <li>MENU PLANNER</li>
  </div>

  <% if @menu %>
    <ul>
      <% @menu.errors.each do |column, error| %>
        <li>
          <strong>Menu <%= column.capitalize %>:</strong> <%= error %>
      </li>
      <% end %>
  <% end %>

  <div id="home-form">
    <form action="/" method="POST">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
      <fieldset>
          <legend>New Menu</legend>
          <label>Menu Name:
            <input type="text" name="menu_name" placeholder="required"/>
          </label>
          <br>
          <input type="submit" value="Create new Menu"/>
      </fieldset>
    </form>
  </div>

</div>
