<h1>Cafe Flora Menu Planner</h1>

<% @menus.each do |m| %>
  <div>
    <%= link_to m.name, show_menu_path(m.id)%>
  </div>
<% end  %>

<% if @menu %>
  <ul>
    <% @menu.errors.each do |column, error| %>
      <li>
        <strong>Menu <%= column.capitalize %>:</strong> <%= error %>
    </li>
    <% end %>
<% end %>

<h3>Add New Menu</h3>
<form action="/" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
  <fieldset>
      <legend>New Menu</legend>
      <label>Menu Name:
        <input type="text" name="menu_name" placeholder="required"/>
      </label>
      <br>
      <input type="submit" value="Create new Menu"/>
  </fieldset>
</form>

<h1>image, logo, etc. </h1>
