<h1><%= @menu.name %></h1>

<% @menu.menu_sections.each do |s| %>
<%= s.name  %>
<% end %>

<h3>this page will simulate a customer's view of the menu</h3>
<h3> it will be styled with our original styling</h3>
