<h1>You can edit <%= @menu_section.name %> Section here</h2>

<form action="/1/menu_sections/12/update" method="PUT">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
  <fieldset>
    <legend>Update the item</legend>
    <label>
  </fieldset>
</form>

