.bg {
  width: 100%;
  position: fixed;
  opacity: .45;
  z-index: -1;
}

.center-box {
  position: relative;
  top: 33%;
  left: 33%;
  width: 400px;
  background-color: rgba(124, 126, 249, 0.4);
  font-family: "Gill Sans", "sans-serif";
}

.center-box li {
  list-style: none;
  font-size: 35px;
  text-align: center;
}

fieldset {
  position: fixed;
  left: 33%;
  right: 33%;
  bottom: 50px;
  font-weight: 600;
}
