.footer .show-container li {
  display: inline-block;
  width: 33%;
}

.show-container ul {
  margin: 0;
}

.show-container a {
  color: #ffffff;
  font-size: 20px;
  font-family: "Gill Sans", "sans-serif";
  text-decoration: none;
}

.edit-name {
  display: none;
}

.delete {
  display: none;
}
