.preview-menu-name {
  margin: 0;
  text-align: center;
  padding: 20px 0;
}

.preview-section {
  display: block;
  padding-bottom: 40px;
}

.rotated-name-container {
  display: inline-block;
  float: left;
  clear: left;
}

  .preview-section-name {
    margin: 0;
  }

  .preview-section-name.rotate {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    display: inline-block;
    float: left;
    font-size: 24px;
    width: 100px;
    position: relative;
    top: 55px;
    margin-right: 20px;
  }

.preview-section-container {
  display: inline-block;
}

.separator {
  padding: 20px 0;
  text-align: center;
  font-size: 24px;
  display: block;
  clear: both;
}
